---
import Layout from '../../layouts/Layout.astro';
import { getCollection, getEntryBySlug } from 'astro:content';
import { Astro } from 'astro';

export async function getStaticPaths() {
  const posts = await getCollection('blog');
  return posts.map((post) => ({
    params: { slug: post.slug },
    props: { post }
  }));
}

const { post } = Astro.props;
---

<Layout>
  <article>
    <h1>{post.data.title}</h1>
    <p><em>{post.data.description}</em></p>
    <div innerHTML={post.body} />
  </article>
</Layout>
